body {
    max-width: 960px;
    margin: 0 auto;
}

.card {
    margin: 10px;
}

.form-group {
    margin: 10px;
}

#submit-button {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
}

#frequency {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}